
<!-- nav-button and overlay -->
<div class="nav-overlay"></div> 

    
<!-- Back to the top switch -->
<a href="#hero" class="to-top">
    <i class="fa-solid fa-chevron-up"></i>    
</a> 

<!-- =============== Navigation ================ -->

{# navigation logo #}
<a href="/" class="logo">
    <img src="/assets/logo.png" alt="Sheila Wristberg">
</a>


{# Navigation Button #}
<div class="nav-btn">
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
</div>

{# Navigation menu #}
<div class="nav-menu">
    {# nav background #}
    <div class="nav-background"></div>
    {# nav-content #}
    <div class="nav-content">
        <h3 class="heading-tertiary">Navigation</h3>
        <div class="nav-border"></div>
        {# menu #}
        <ul class="nav-list">
            <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="/about/" class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link">Collaboration</a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link">Projects</a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link">Contact</a>
            </li>
        </ul>
        <h3 class="heading-tertiary">Social</h3>
        {# navigation social #}
        <ul class="nav-social">
            <li class="social-item">
                <a href="#" class="social-link">LinkedIn</a>
            </li>
            <li class="social-item">
                <a href="#" class="social-link">Instagram</a>
            </li>
            <li class="social-item">
                <a href="#" class="social-link">YouTube</a>
            </li>
            <li class="social-item">
                <a href="#" class="social-link">Twitter</a>
            </li>
        </ul>
    </div>
</div>