// Table of Content
// 1. heading primary
// 2. heading Secondary
// 3. thin text
// 4. white text


// heading-primary
.heading-primary {
    font-family: "satoshi", sans-serif;
    font-weight: medium;
    font-size: 4rem;
    position: relative;
    text-transform: capitalize;
    color: var(--clr-primary);    
    text-align: center;
}


// heading Secondary
.heading-secondary {
    font-size: 1.5rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: var(--clr-gray);
    line-height: 1;
    position: relative;
    z-index: 1;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--clr-gray);
    margin-bottom: 5rem;
}

// heading tertiary
.heading-tertiary {
    color: var(--clr-gray);
    font-weight: normal;
    font-size: 1.4rem;
}


// thin & light text
.thin-text {
    font-weight: lighter;
    letter-spacing: 2px;
}
// white text
.white-text {
    color: #fff;

    &::before, &::after {
        background-color: var(--clr-gold-light);
    }
}
.primary-text {
    color: var(--clr-primary);
}















@media screen and (max-width: 766px) {

  .heading-secondary {
    //   font-size: 25px;
      font-weight: bolder;
  }
}