.text-center {
  text-align: center;
}

.mb-20 {
  margin-bottom: 2rem;
}

.mb-50 {
  margin-bottom: 5rem;
}

.mb-100 {
  margin-bottom: 10rem;
}

.mr-20 {
  margin-right: 2rem;
}

.mr-50 {
  margin-right: 5rem;
}

.mt-20 {
  margin-top: 2rem;
}

.mt-50 {
  margin-top: 5rem;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slidedown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes scroll-down {
  0% {
    transform: translate(0px, -4px);
  }
  50% {
    transform: translate(0px, 4px);
  }
  100% {
    transform: translate(0px, -4px);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fromRight {
  0% {
    transform: translateX(-200px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@font-face {
  font-family: "satoshi";
  src: url(/assets/fonts/Satoshi-Medium.woff);
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "satoshi";
  src: url(/assets/fonts/Satoshi-Regular.woff);
  font-weight: normal;
  font-style: normal;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --clr-primary: #E80000;
  --clr-white: #ffffff;
  --clr-black: #1C1D20;
  --clr-gray-light: #dadce4;
  --clr-gray: #999D9E;
  --clr-gray-dark: #111111;
  --text-clr: #1C1D20;
}

::selection {
  background-color: var(--clr-primary);
  color: var(--clr-white);
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  line-height: 2;
  transition: all 0.4s ease-in-out;
  background: var(--clr-white);
  color: var(--text-clr);
  font-size: 1.8rem;
  font-family: "satoshi", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "satoshi", serif;
}

p, i, span, article {
  font-family: inherit;
  font-size: inherit;
}

a {
  font-family: "satoshi", sans-serif;
  font-weight: bold;
  cursor: pointer;
  font-size: inherit;
}

img {
  width: 100%;
  height: auto;
  display: inline-block;
  line-height: 1;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 1.6rem;
  }
}
.heading-primary {
  font-family: "satoshi", sans-serif;
  font-weight: medium;
  font-size: 4rem;
  position: relative;
  text-transform: capitalize;
  color: var(--clr-primary);
  text-align: center;
}

.heading-secondary {
  font-size: 1.5rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: var(--clr-gray);
  line-height: 1;
  position: relative;
  z-index: 1;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--clr-gray);
  margin-bottom: 5rem;
}

.heading-tertiary {
  color: var(--clr-gray);
  font-weight: normal;
  font-size: 1.4rem;
}

.thin-text {
  font-weight: lighter;
  letter-spacing: 2px;
}

.white-text {
  color: #fff;
}
.white-text::before, .white-text::after {
  background-color: var(--clr-gold-light);
}

.primary-text {
  color: var(--clr-primary);
}

@media screen and (max-width: 766px) {
  .heading-secondary {
    font-weight: bolder;
  }
}
.to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 8;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 40%;
  background: var(--clr-primary);
  opacity: 0.8;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.473);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s cubic-bezier(0, 0.435, 0.675, 0.19);
  opacity: 0;
  pointer-events: none;
}
.to-top:hover {
  background-color: var(--clr-white);
  transform: translateY(-3px);
}
.to-top:hover i, .to-top:focus i {
  color: var(--clr-primary);
}
.to-top i {
  color: var(--clr-gray-light);
  font-size: 2.5rem;
  padding-bottom: 3px;
}

.btn {
  display: inline-block;
  outline: none;
  border: none;
  padding: 1.5rem 4.5rem;
  font-family: inherit;
  font-size: 1.3rem;
  border: 2px solid transparent;
  transition: all 0.3s cubic-bezier(0, 0.435, 0.675, 0.19);
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  border-radius: 3rem;
  position: relative;
  z-index: 1;
}
.btn:hover::after {
  top: 0;
}
.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 0%;
  z-index: -1;
  transition: all 0.3s cubic-bezier(0, 0.435, 0.675, 0.19);
  border-radius: 100rem;
}

.btn-primary {
  background-color: var(--clr-primary);
  color: #fff;
  border: 2px solid var(--clr-primary);
}
.btn-primary:hover, .btn-primary:focus {
  color: var(--clr-primary);
  border: 2px solid var(--clr-primary);
}
.btn-primary::after {
  background-color: var(--clr-white);
}

.btn-neutral {
  background-color: transparent;
  color: var(--clr-gray);
  border: 2px solid var(--clr-gray);
}
.btn-neutral::after {
  background-color: var(--clr-primary);
}
.btn-neutral:hover, .btn-neutral:focus {
  color: Var(--clr-white);
}

.btn-thin {
  padding: 2rem 3rem;
  display: inline-block;
  margin-top: 1rem;
  color: var(--clr-primary);
}
.btn-thin:hover, .btn-thin:focus {
  color: darkred;
}

.container {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 2580px;
  height: 100%;
}

.wrapper {
  padding-right: 20px;
  padding-left: 20px;
}

.col-2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
  align-items: center;
}

.col-3 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: center;
}

.col-4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
}

.col-3-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 2rem;
}

.section {
  padding: 10rem 0;
}

@media (min-width: 768px) {
  .wrapper {
    padding-right: 200px;
    padding-left: 200px;
  }
  .col-2 {
    grid-template-columns: 1fr 1fr;
  }
  .col-3 {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
  .col-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4rem;
  }
  .col-3-2 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.nav-scrolled {
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.349);
}

.nav-btn {
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0, 0.435, 0.675, 0.19);
  position: fixed;
  top: 5rem;
  right: 7rem;
  z-index: 10;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: var(--clr-black);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.4s ease;
  overflow: hidden;
}
.nav-btn:hover::after {
  top: 0;
}
.nav-btn::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--clr-primary);
  position: absolute;
  top: 100%;
  left: 0;
  transition: all 0.4s cubic-bezier(0, 0.435, 0.675, 0.19);
  z-index: -1;
}
.nav-btn .lines {
  width: 3rem;
  height: 0.15rem;
  background-color: var(--clr-white);
  transition: 0.4s ease;
}
.nav-btn .lines:not(:last-child) {
  margin-bottom: 0.8rem;
}
.nav-btn.close {
  background-color: var(--clr-primary);
}
.nav-btn.close .lines:nth-child(1) {
  transform: translate(0px, 9px) rotate(45deg);
}
.nav-btn.close .lines:nth-child(2) {
  opacity: 0;
}
.nav-btn.close .lines:nth-child(3) {
  transform: translate(0px, -9px) rotate(-45deg);
}

.nav-menu {
  height: 100%;
  width: 70vw;
  max-width: 500px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 8;
  color: #fff;
  padding: 10rem 5rem;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}
.nav-menu.show {
  opacity: 1;
  pointer-events: initial;
}
.nav-menu .nav-content {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 7;
  opacity: 0;
  transition: 0.4s;
  opacity: 0;
  pointer-events: none;
}
.nav-menu .nav-content.show {
  opacity: 1;
  transition-delay: 0.7s;
  pointer-events: initial;
}
.nav-menu .nav-background {
  background-color: var(--clr-black);
  position: absolute;
  top: 5rem;
  right: 6rem;
  z-index: 6;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  transition: 0.6s ease-in;
  transform: scale(0.2);
}
.nav-menu .nav-background.show {
  transform: scale(25) translateX(0);
}
.nav-menu .nav-border {
  width: 100%;
  height: 1px;
  background-color: var(--clr-gray);
  margin: 1rem 0 2rem;
}
.nav-menu .nav-list {
  margin-bottom: 5rem;
  list-style: none;
}
.nav-menu .nav-list .nav-item .nav-link {
  display: inline-block;
  color: var(--clr-white);
  font-family: "satoshi", sans-serif;
  font-weight: medium;
  font-size: 4rem;
  transition: all 0.2s cubic-bezier(0, 0.435, 0.675, 0.19);
}
.nav-menu .nav-list .nav-item .nav-link:hover, .nav-menu .nav-list .nav-item .nav-link:focus {
  transform: translate(15px, 0);
  color: var(--clr-primary);
}
.nav-menu .nav-social {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.nav-menu .nav-social .social-link {
  display: inline-block;
  color: var(--clr-gray-light);
  font-size: 1.2;
  transition: all 0.2s cubic-bezier(0, 0.435, 0.675, 0.19);
}
.nav-menu .nav-social .social-link:hover {
  color: var(--clr-primary);
  transform: scale(1.1) translateX(5px);
}

.logo {
  margin-bottom: 0;
  position: absolute;
  top: 5rem;
  left: 7rem;
  z-index: 10;
}
.logo img {
  width: 80px;
  height: auto;
}

.nav-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: rgba(60, 60, 60, 0.712);
  transition: all 0.2s cubic-bezier(0, 0.435, 0.675, 0.19);
  opacity: 0;
  pointer-events: none;
  z-index: 7;
}
.nav-overlay.show {
  opacity: 1;
  pointer-events: initial;
}

@media screen and (max-width: 1019px) {
  .nav-btn {
    right: 3rem;
  }
  .nav-menu .nav-background {
    right: 4rem;
  }
}
.section-footer {
  background-color: var(--clr-black);
  color: var(--clr-);
  background-attachment: fixed;
  padding: 20rem 0 5rem;
  position: relative;
  width: 100%;
  /** For mobile devices **/
}
.section-footer .custom-shape-divider-top-1701597820 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.section-footer .custom-shape-divider-top-1701597820 svg {
  position: relative;
  display: block;
  width: calc(135% + 1.3px);
  height: 203px;
}
.section-footer .custom-shape-divider-top-1701597820 .shape-fill {
  fill: #DADCE4;
}
@media (max-width: 767px) {
  .section-footer .custom-shape-divider-top-1701597820 svg {
    width: calc(135% + 1.3px);
    height: 75px;
  }
}
.section-footer img {
  width: 150px;
  margin-right: 4rem;
}
.section-footer h1 {
  font-size: 7rem;
  color: var(--clr-white);
  line-height: 1;
  font-weight: medium;
  display: inline-block;
}
.section-footer hr {
  margin: 5rem 0;
}
.section-footer .footer-list {
  display: flex;
  list-style: none;
}
.section-footer .footer-list .footer-item:not(:last-child) {
  margin-right: 2rem;
}
.section-footer .footer-list .footer-link {
  color: Var(--clr-white);
  transition: all 0.1s cubic-bezier(0, 0.435, 0.675, 0.19);
  display: inline-block;
}
.section-footer .footer-list .footer-link:hover {
  transform: scale(1.1) translateX(5px);
  color: var(--clr-primary);
}

footer {
  background-color: #000;
  color: var(--clr-white);
  text-align: center;
  padding: 5px 0;
}
footer p {
  font-size: 1.3rem;
}

/* Begin Media Queries*/
@media screen and (max-width: 600px) {
  .section-footer .col-3 {
    justify-items: start;
    gap: 5rem;
  }
}
.section-contact {
  padding: 10rem 0 15rem;
  text-align: center;
}
.section-contact .contact-form {
  width: 100%;
  padding: 1rem;
  max-width: 800px;
  display: inline-block;
}
.section-contact .input-field {
  width: 90%;
  outline: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  padding: 1rem;
  padding-inline: 2rem;
  margin-bottom: 2rem;
  border-radius: 3rem;
  background-color: var(--clr-gray-light);
  border: 1px solid var(--clr-gray);
  resize: none;
  transition: 0.4s;
}
.section-contact .input-field:focus, .section-contact .input-field:valid {
  width: 100%;
  border: 1px solid var(--clr-primary);
}

.section-hero {
  width: 100%;
  height: 100vh;
  transition: all 0.4s cubic-bezier(0, 0.435, 0.675, 0.19);
  position: relative;
  background-color: var(--clr-gray);
  overflow: hidden;
}
.section-hero .hero-container {
  width: 100%;
  height: 100%;
  text-align: center;
}
.section-hero .hero-img {
  line-height: 1;
  height: 100%;
  width: auto;
}
.section-hero .hero-name {
  color: var(--clr-white);
  font-family: "branch", sans-serif;
  font-size: 20rem;
  line-height: 1;
  transform: translateX(100%);
  animation: my-animation 15s linear infinite;
  position: absolute;
  bottom: 10rem;
  letter-spacing: 2px;
  white-space: nowrap;
}

.hero-about {
  padding: 10rem 0 10rem;
}
.hero-about .col-2 {
  gap: 10rem;
}
.hero-about h1 {
  line-height: 1.5;
  font-size: 3rem;
}
.hero-about p {
  margin-bottom: 2rem;
}

.hero-speaking {
  padding: 10rem 0;
}
.hero-speaking h1 {
  font-size: 3rem;
  width: 100%;
  max-width: 600px;
  line-height: 1.5;
  margin-bottom: 5rem;
}

.section-awards {
  padding: 15rem 0;
}
.section-awards .award img {
  max-width: 250px;
}

.section-testimonials {
  padding: 15rem 0;
  background-color: var(--clr-black);
  color: var(--clr-white);
  text-align: center;
  position: relative;
  /** For mobile devices **/
}
.section-testimonials .custom-shape-divider-top-1701598037 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.section-testimonials .custom-shape-divider-top-1701598037 svg {
  position: relative;
  display: block;
  width: calc(135% + 1.3px);
  height: 203px;
}
.section-testimonials .custom-shape-divider-top-1701598037 .shape-fill {
  fill: #FFFFFF;
}
@media (max-width: 767px) {
  .section-testimonials .custom-shape-divider-top-1701598037 svg {
    width: calc(135% + 1.3px);
    height: 75px;
  }
}
.section-testimonials .testimonial {
  display: inline-block;
  text-align: center;
  padding: 0;
  position: relative;
  z-index: 1;
}
.section-testimonials .testimonial-img {
  width: 100px;
  margin-top: 3rem;
}
.section-testimonials .testimonial-background {
  width: 50%;
  height: 100%;
  background-color: #181818;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}
.section-testimonials .testimonial .hr {
  width: 150px;
  display: inline-block;
  height: 1px;
  background-color: var(--clr-gray);
  margin: 4rem 0rem 1rem;
}
.section-testimonials .testimonial-title {
  color: var(--clr-gray);
  font-size: 1.3rem;
  line-height: 1;
}
.section-testimonials .testimonial-name {
  margin-bottom: 3rem;
}

.section-blog {
  padding: 15rem 0;
  background-color: var(--clr-gray-light);
}

@media screen and (min-width: 769px) {
  .section-hero .hero-text {
    margin-top: -10rem;
  }
  .section-hero .btn-primary {
    margin-right: 2rem;
  }
  .section-about .about-container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .section-about .about-gallery {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 2rem;
  }
  .section-testimonials .testimonial {
    max-width: 800px;
  }
}
@media screen and (max-width: 768px) {
  .section-hero .hero-container .hero-img {
    width: auto;
    height: 100%;
    transform: translateX(-10rem);
  }
  .section-testimonials .testimonials-container {
    padding: 0;
  }
  .section-testimonials .prev, .section-testimonials .next {
    top: 110%;
  }
  .section-testimonials .dot {
    margin-top: 6rem;
  }
}
@media screen and (max-width: 500px) {
  .section-hero .hero-container .hero-name {
    font-size: 10rem;
  }
  .section-testimonials .testimonial__text {
    font-size: 1.4rem;
  }
}
.section-privacy {
  background: var(--clr-gray-light);
  padding: 10em 0;
  font-size: 1.6rem;
  line-height: 1.7;
}
.section-privacy ul, .section-privacy ol {
  margin-bottom: 2rem;
}
.section-privacy ul li, .section-privacy ol li {
  margin-bottom: 1rem;
}
.section-privacy a {
  color: var(--clr-primary);
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0, 0.435, 0.675, 0.19);
  word-wrap: break-word;
}
.section-privacy a:hover, .section-privacy a:focus {
  color: #920000;
}

.form-success {
  display: inline-block;
  width: 80%;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--clr-white);
  padding: 2rem 4rem;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.323);
  text-align: center;
}
.form-success h2 {
  margin-bottom: 1.5rem;
}
.form-success p {
  margin-bottom: 1.5rem;
}

.section-blog__post {
  margin-bottom: 10rem;
}

.blog-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 10rem;
}

.article {
  width: 100%;
  text-align: center;
  transition: all 0.4s cubic-bezier(0, 0.435, 0.675, 0.19);
  border-radius: 7px;
  overflow: hidden;
  padding-bottom: 10px;
}
.article .snippet__title {
  color: var(--clr-gray-dark-2);
  font-size: 2.5rem;
  text-transform: capitalize;
  line-height: 1.5;
  padding: 1rem 0;
}
.article .snippet__title a {
  color: inherit;
}
.article .snippet__title a:hover, .article .snippet__title a:focus {
  color: var(--clr-primary);
}
.article .snippet__meta {
  color: var(--clr-gray-dark-1);
  font-size: 1.2rem;
  margin: 0.5rem 0;
}
.article .snippet__body {
  margin: 0 1rem 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.article .snippet__image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.article .snippet__date {
  font-weight: lighter;
  color: darkgray;
  font-size: 1.5rem;
  margin: 1rem 2rem;
}
.article .snippet__description {
  margin: 1rem;
  line-height: 1;
}
.article .snippet__text {
  margin: 0 1rem 4rem;
}
.article .snippet .btn {
  margin-bottom: 1rem;
  padding: 1rem 2.5rem;
}

@media screen and (min-width: 1023px) {
  .blog-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.individual-article__page .flow {
  max-width: 1000px;
  padding-inline: 2rem;
  margin-inline: auto;
}
.individual-article__page .main-article__figure {
  margin-bottom: 1rem;
  position: relative;
  padding: 0;
  height: 300px;
}
.individual-article__page .main-article__figure img {
  width: 200px;
  height: auto;
  aspect-ratio: 1/1.5;
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  border-radius: 5px;
}
.individual-article__page .main-article__figure::before, .individual-article__page .main-article__figure::after {
  content: "";
  display: inline-block;
  height: 0.1rem;
  width: 25%;
  background-color: var(--clr-black);
  position: absolute;
  top: 50%;
}
.individual-article__page .main-article__figure::before {
  left: 0;
}
.individual-article__page .main-article__figure::after {
  right: 0;
}
.individual-article__page .description {
  font-weight: 400;
  margin-bottom: 2rem;
}
.individual-article__page .author {
  text-transform: capitalize;
  color: darkgray;
}
.individual-article__page hr {
  margin: 4rem 0;
}
.individual-article__page h1 {
  margin-bottom: 0.5rem;
  margin-top: 3rem;
  letter-spacing: 2px;
}
.individual-article__page .heading-secondary {
  font-family: "Oswald", sans-serif;
  letter-spacing: 0px;
}
.individual-article__page p {
  margin-bottom: 1rem;
}

@media screen and (max-width: 600px) {
  .individual-article__page .main-article__figure::before, .individual-article__page .main-article__figure::after {
    display: none;
  }
}
.no-scroll {
  overflow-y: hidden;
}

.visible {
  opacity: 1;
  pointer-events: initial;
}

.box-shadow {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.207);
}

.fade-in {
  opacity: 0;
  transition: opacity 0.6s ease-in;
}

.fade-in.appear {
  opacity: 1;
}
