---
title: Segula Global
meta: I am Carbell Sarfo, I am an entrepreneur. Solving the problems of today and of tomorrow.
layout: 'base.njk'
---

{# Table of content #}
{# 1. Section hero #}
{# 2. Section Services #}
{# 3. Section About Me #}




{# ================================ Section Hero ============================= #}
<section class="section-hero" id="section-hero">
    <div class="container wrapper">
        <div class="col-2">
            {# hero-text #}
            <div class="hero-text">
                <p>Hi, I am Carbell Sarfo</p>
                <h1 class="primary-text">I enjoy designing tech websites and digital products</h1>
                <div class="hero-buttons">
                    <a href="#section-portfolio" class="btn btn-primary">Portfolio</a>
                    <a href="#section-contact" class="btn btn-neutral">Contact me</a>
                </div>
            </div>
            {# hero-img #}
            <div class="hero-img">
                <img src="/assets/hero-img.png" alt="Carbell Sarfo">
            </div>
        </div>
    </div>
</section>
{# End of Section-hero #}





{# ================================ Section Services ============================= #}
<section class="section-services" id="section-services">
    <div class="container wrapper">
        <h1 class="heading-primary">My Services</h1>
        <p class="mb-100 text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos vitae nihil delectus et reprehenderit numquam sapiente laboriosam!</p>
        <div class="col-2">
            <div class="service">
                <div class="service__icon">
                    <i class="fa-brands fa-x-twitter red"></i>
                </div>
                <div class="service__text">
                    <h3 class="heading-secondary">Lorem Ipsum</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quis quo architecto. Animi perspiciatis nesciunt id dolorem! Dicta placeat aut dolorum ab officia. Exercitationem illo laudantium, assumenda itaque soluta temporibus.</p>
                </div>
            </div>
            <div class="service">
                <div class="service__icon">
                    <i class="fa-brands fa-x-twitter yellow"></i>
                </div>
                <div class="service__text">
                    <h3 class="heading-secondary">Lorem Ipsum</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quis quo architecto. Animi perspiciatis nesciunt id dolorem! Dicta placeat aut dolorum ab officia. Exercitationem illo laudantium, assumenda itaque soluta temporibus.</p>
                </div>
            </div>
            <div class="service">
                <div class="service__icon">
                    <i class="fa-brands fa-x-twitter blue"></i>
                </div>
                <div class="service__text">
                    <h3 class="heading-secondary">Lorem Ipsum</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quis quo architecto. Animi perspiciatis nesciunt id dolorem! Dicta placeat aut dolorum ab officia. Exercitationem illo laudantium, assumenda itaque soluta temporibus.</p>
                </div>
            </div>
            <div class="service">
                <div class="service__icon">
                    <i class="fa-brands fa-x-twitter green"></i>
                </div>
                <div class="service__text">
                    <h3 class="heading-secondary">Lorem Ipsum</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quis quo architecto. Animi perspiciatis nesciunt id dolorem! Dicta placeat aut dolorum ab officia. Exercitationem illo laudantium, assumenda itaque soluta temporibus.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{# end of Services #}






{# ================================ Section About ============================= #}
<section class="section-about" id="section-about">
    <div class="container wrapper">
        <h1 class="heading-primary">About Me</h1>
        <p class="text-center mb-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates fugit, accusantium rat.</p>
        <div class="col-2">
            {# About img #}
            <div class="about-img">
                <img src="/assets/about-img.png" alt="About Carbell">
            </div>
            {# About text #}
            <div class="about-text">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo adipisci architecto autem rem expedita, alias ipsum eaque fugiat, officiis eveniet dignissimos ab esse natus ipsam quod. Voluptatibus sed officiis nam ex neque odio harum obcaecati?</p>
                <br>
                <p class="mb-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ipsa sunt fugiat odio autem harum impedit et, quos modi accusamus.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ipsa sunt fugiat odio autem harum impedit et, quos modi accusamus.
                </p>
                <a href="#section-contact" class="btn btn-primary">Contact</a>
            </div>
        </div>
    </div>
</section>
{# End of About me #}






{# ================================ Section Portfolio ============================= #}
<section class="section-portfolio" id="section-portfolio">
    <div class="container wrapper">
        <h1 class="heading-primary">Portfolio</h1>
        <p class="text-center mb-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id corporis deleniti fugit. Maiores, aliquam!</p>
        <div class="col-2">
            {# comfort-craddle #}
            <a href="#">
                <img src="/assets/portfolio-1.png" alt="Comfort Craddle" class="project">
            </a>
            {# Samuel Botchway #}
            <a href="#">
                <img src="/assets/portfolio-2.png" alt="Samuel Botchway" class="project">
            </a>
        <div/>
    </div>
</section>
{# Section-portfolio #}





{# ================================ Section Testimonials ============================= #}
<section class="section-testimonials">
    <div class="container wrapper">
        <h1 class="heading-primary">Testimonials</h1>
        <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet, magni?</p>
        <div class="testimonials-container">
            <div class="testimonial fade">
                <img src="/assets/testimonial-1.png" alt="Sameul Botchwey" class="testimonial__img">
                <h4 class="testimonial__name">Samuel Botchwey</h4>
                <p class="testimonial__text">"Building a website. I thought to myself, how, where and from whom would I be able to get a simple, elegant website. Well, I worried until I found out a dear friend who gave his all in making this a reality for me. A person open and willing to listen and willing to learn to be able to provide the best for you  are qualities that best suits him."</p>
            </div>
            <div class="testimonial fade">
                <img src="/assets/testimonial-2.png" alt="Winnard Bansah" class="testimonial__img">
                <h4 class="testimonial__name">Winnard Bansah</h4>
                <p class="testimonial__text">"Using words like 'hardworking' and 'amazing' sound cliché but Carbell is an embodiment of that. Working with him gave me a first person view as he was able to build and fully implement multiple brand strategies from ground up with great quality. 
                <br>
                And there's even so much more behind the curtains"</p>
            </div>

            
            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">
                <i class="fa fa-chevron-left"></i>    
            </a>
            <a class="next" onclick="plusSlides(1)">
                <i class="fa fa-chevron-right"></i>
            </a>
            
        </div>
        <!-- The dots/circles -->
        <div class="text-center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
        </div>
    </div>
</section>


